body {
    background-color: #ededed;
    display: block;
    overflow-x: auto;
    font-weight: 300;
    font-size: 16px;
    font-family: Roboto, Helvetica, sans-serif !important;
    box-sizing: border-box;
    min-width: 320px;
}

#page {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 190px 1fr;
    grid-template-rows: 55px 1fr;
    grid-gap: 16px;
    grid-template-areas:
        "header header"
        "nav main"
        "nav main";
}

.privacy,
.about,
.contact {
    padding: 16px;
    color: rgb(66, 66, 66);
    background: rgb(255, 255, 255);
    border-radius: 8px;
    margin-top: 10px;

}

h1 {
    font-size: 42px !important;
}

h2 {
    margin-bottom: 32px;
    margin-top: 56px;
}

p {
    margin-bottom: 22px;
}

main {
    grid-area: main;
    max-width: 100%;
}

header {
    grid-area: header;
    height: 55px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    max-width: 100%;
    position: sticky;
    top: 0px;
    z-index: 500;
    width:100%;
}

.rounded-top {
    border-radius: 8px 8px 0 0 !important;
}

.rounded-bottom {
    border-radius: 0 0 8px 8px !important;
}

.nav-item {
    padding-left: 12px;
    padding-top: 2px;
    padding-bottom: 2px;

}

a {
    font-size: 15px;
    color: grey;
    text-decoration: none;
}

.post-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: max-content;
    grid-gap: 16px;
    overflow: hidden;
}

.post {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: minmax(max-content, 100px);
}

.post-img {
    box-sizing: border-box;
    height: 200px;
    width:100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 15px 30px;
    text-align: center;
}

.post-preview {
    margin-bottom: 15px;
    padding: 0 30px;
    font-size: 16px;
    text-align: left;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.7);
    flex:1;
}
