body {
    background-color: #ededed;
    display: block;
    overflow-x: auto;
    font-weight: 300;
    font-size: 16px;
    font-family: Roboto, Helvetica, sans-serif !important;
    box-sizing: border-box;
    min-width: 320px;
}

#page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 190px 2fr 1fr;
    grid-template-rows: 50px min-content 1fr 1fr;
    grid-gap: 16px;
    grid-template-areas:
        "header header header"
        "nav main main"
        "nav main main";
}

main {
    grid-area: main;
    max-width: 100vw;
    margin-top: 7px;
}

.user-container {
    position: relative;
    flex-direction: row;
    min-height: 60vh;
    display: flex;
}

.user-details-wrapper {
    display: inline-block;
    margin-bottom: 30px;
    max-width: 300px;
    margin-right: 16px;
    position: sticky;
    top: 75px;
    align-self: flex-start;
}

.user-details {
    background: #f5f5f5;
    margin-right: 18px;
    padding: 12px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    align-self: flex-start;
    border-radius: 5px;
}

.user-details h1 {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #424242;
}

.user-details h1 img {
    border-radius: 50%;
    width: 30px;
    margin-right: 12px;
}

.member-since {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    color: #424242;

}

.btn-edit-profile {
    align-items: center;
    appearance: none;
    background: rgb(50, 82, 168);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    transition: background 0.15s ease 0s;
    width: 100%;

}

.btn-icon {
    align-items: center;
    background: rgb(40, 72, 158);
    border-right: 1px solid rgb(30, 62, 148);
    color: white;
    display: flex;
    font-size: 16px;
    height: 40px;
    justify-content: space-around;
    transition: background 0.15s ease 0s;
    width: 40px;
}

.btn-label {
    color: white;
    display: block;
    flex: 1 1 0%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.user-nades {
    flex: 1;
}

h2 {
    font-weight: 300;
    color: #424242;
    font-size: 32px !important;
    margin-bottom: 32px;
    margin-top: 0px !important;
    font-weight: -100 !important;
}

.user-nade-map-nav {
    display: flex;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.user-map-nav-item {
    padding: 0px 10px;
    height: 40px;
    display: flex;
    background: rgb(255, 255, 255);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-image: initial;
    cursor: pointer;
    border-right: none;
    align-items: center;
    transition: background 0.2s ease 0s;
}

.user-map-nav-item:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.user-map-nav-item:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-icon {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 4px;
}